@import "../../styles/vars";

.Categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.Categories ul {
  margin-left: 12px;
}
.Categories ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}
.Categories ul li a:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

@media (min-width: 640px) {
  .Categories {
    display: none;
  }
}
